{% extends 'base.html' %}
{% load static %}

{% block search %}


    <a href="{% url 'product:search' %}" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
    </a>
    <a href="{% url 'product:upload_csv' %}" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-shopping-cart"></span> Upload Amazon
    </a>
{% endblock %}

{% block products %}
    <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
            <h2 class="title text-center">Features Items</h2>


            {% for product in products %}

                <div class="col-sm-4" style="min-height: 650px; max-height: 650px">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img style="object-fit: cover; width: 100%; max-height: 300px; min-height: 300px;"
                                     src={{ product.image_link }} alt=""/>
                                <h2><b>Price: </b>{{ product.price }}</h2>
                                <p><b>Asin: </b>{{ product.asin }}</p>
                                <p><b>Name: </b>{{ product.name }}</p>
                                <p><b>Brand: </b>{{ product.brand }}</p>

                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
                                    to
                                    cart</a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <p><b>Seller id: </b>{{ product.seller_id }}</p>
                                    <p><b>Date: </b>{{ product.datetime }}</p>
                                    <p><b>Rank: </b>{{ product.rank }}</p>
                                    <p><b>Reviews: </b>{{ product.reviews }}</p>
                                    <p><b>Ratings: </b>{{ product.ratings }}</p>
                                    <p><b>Category: </b>{{ product.category }}</p>
                                    <p><a href="{{ product.product_link }}">product
                                        link</a></p>
                                    <p></p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
                                        to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            {% endfor %}


        </div>
    </div>
    {% if is_paginated %}
        <div class="logo pull-right">
            <nav aria-label="Page navigation conatiner"></nav>
            <ul class="pagination justify-content-center ">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
            </nav>
        </div>
        </div>
    {% endif %}
{% endblock %}

{% block categories %}
{#    #}
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">{{ category.category }}</a></h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block brands %}
    {#    {% for brand in brands %}#}
    {#        <li><a href="#"> <span class="pull-right">(5)</span>{{ brand.brand }}</a></li>#}
    {##}
    {#    {% endfor %}#}
{% endblock %}